h1{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 50px;
text-align: center;
color: #de7471
}

p{
font-size: 20px;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
}



body {
background-color: #f9f4db;
}